<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SqlServer"
			 providerName="System.Data.SqlClient"
			 connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=CarRental;Integrated Security=True;Pooling=False" />
	</connectionStrings>

	<appSettings>
		<add key ="databaseName" value="SqlServer"/>
	</appSettings>
	
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>